.top{
	height: 100px;
}
.main{
	height: 1000px;
}
.pink{
	height: 500px;
}
.normal{
	height: 200px;
}
.mini{
	height: 50px;
}
.top1{
	height: 150px;
}
.shapa{
	height: 50px;
}
.normal1{
	height: 150px;
}